asgiref==3.8.1
distlib==0.3.9
Django==5.1.1
django-ckeditor==6.4.0
django-js-asset==2.0.0
django-tempus-dominus==5.1.2.17
django-widget-tweaks==1.4.12
et-xmlfile==1.1.0
filelock==3.18.0
humanize==4.1.0
openpyxl==3.0.9
pillow==10.4.0
platformdirs==4.3.8
psycopg==3.2.9
psycopg-binary==3.2.9
python-decouple==3.6
setuptools==80.9.0
sqlparse==0.5.1
tzdata==2024.2
virtualenv==20.31.2
