{% extends 'components/main.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<main>
    <div class="container-fluid px-5">
        <h1 class="my-4">Dashboard</h1>
        {% if user_role.name == 'admin' %}
        {% include 'accounts/admin_dashboard.html' %}
        {% elif user_role.name == 'faculty' %}
        {% include 'accounts/faculty_dashboard.html' %}
        {% endif %}
    </div>
    {% if not profile_complete %}
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
      <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <i class="fa-solid fa-user me-2"></i>
          <strong class="me-auto">Complete your Profile</strong>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body bg-light">
          <span>Your profile isn't complete yet. It takes just a moment to complete.</span>
          <div class="mt-2 pt-2 border-top">
            <a href="{% url 'settings' %}" class="btn btn-primary btn-sm">Update Profile</a>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
</main>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    var ctx = document.getElementById("BarChart3");
    if (ctx) {
      var barGraph2 = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: [{%for i in test_date_set%}'{{i}}',{%endfor%}],
          datasets: [{
            label: "Tests",
            backgroundColor: "rgba(2,117,216,1)",
            borderColor: "rgba(2,117,216,1)",
            data: [{%for key, value in test_date_set.items %}'{{value}}',{%endfor%}],
          }],
        },
        options: {
          scales: {
            xAxes: [{
              gridLines: {
                display: false
              }
            }],
            yAxes: [{
              ticks: {
                maxTicksLimit: 5,
                beginAtZero: true
              },
              gridLines: {
                display: true
              }
            }]
          },
          legend: {
            display: false
          }
        }
      });
    }
    {% if not profile_complete %}
    var toastElList = [].slice.call(document.querySelectorAll('.toast'))
    var toastList = toastElList.map(function (toastEl) {
      return new bootstrap.Toast(toastEl, {autohide: false})
    })
    toastList.forEach(toast => toast.show());
    {% endif %}
</script>
{% endblock %}