{% extends 'accounts/base.html' %}

{% load widget_tweaks %}

{% block title %}Login | YarlGo{% endblock %}

{% block content %}

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
</svg>
{% if form.errors %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
  <span>Your username and password didn't match. Please try again.</span>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
<div id="layoutAuthentication_content">
    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                        <div class="card-body">
                            <form action="{% url 'login' %}" method="POST">
                                {% csrf_token %}
                                <div class="form-floating mb-3">
                                    {% render_field form.username class="form-control" placeholder=form.username.label id="inputUsername" %}
                                    <label for="inputUsername">Username</label>
                                </div>
                                <div class="form-floating mb-3">
                                    {% render_field form.password class="form-control" placeholder=form.password.label id="inputLoginPassword" %}
                                    <label for="inputLoginPassword">Password</label>
                                    <div>
                                        <i class="fa-solid fa-eye-slash pwd-eye" style="display: none;" data-state="0"></i>
                                        <i class="fa-solid fa-eye pwd-eye" data-state="1"></i>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-center mt-4 mb-0">
                                    <input class="btn btn-dark" type="submit" value="Login"></input>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer text-center py-3">
                            <a class="small" href="password.html">Forgot Password?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}