{% extends 'accounts/base.html' %}

{% load widget_tweaks %}

{% block title %}Reset Password | YarlGo{% endblock %}

{% block content %}
{% if form.errors %}
<div class="alert alert-danger alert-dismissible" role="alert">
    <div id="form_errors">
        {% for key, value in form.errors.items %}
            <strong>{{ value }}</strong>
        {% endfor %}
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
<div id="layoutAuthentication_content">
    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header"><h3 class="text-center font-weight-light my-4">Password Reset Confirm</h3></div>
                        <div class="card-body">
                        	<form method="POST">
						        {% csrf_token %}
						        <div class="mb-3">
								  <label for="inputNewPassword1" class="form-label">New Password:</label>
								  {% render_field form.new_password1 class="form-control" id="inputNewPassword1" %}
								</div>
                                <div class="mb-3">
                                  <label for="inputNewPassword2" class="form-label">Confirm New Password:</label>
                                  {% render_field form.new_password2 class="form-control" id="inputNewPassword2" %}
                                </div>
						        <div class="d-flex align-items-center justify-content-center mt-4 mb-0">
                                    <input class="btn btn-dark" type="submit" value="Reset Password"></input>
                                </div>
						    </form>
                        </div>
                        <div class="card-footer text-center py-3">
                            <a class="small" href="{% url 'login' %}">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

{% endblock %}