<div class="row mt-5 mx-5 shadow bg-white rounded">
    <ul class="nav nav-tabs justify-content-center" role="tablist" id="faculty-nav">
      <li class="nav-item">
        <a class="nav-link active" href="#batches" role="tab">
          <i class="fa-solid fa-table-columns"></i> Batches
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#tests" role="tab">
          <i class="fa-solid fa-graduation-cap"></i> Tests
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#topics" role="tab">
          <i class="fa-solid fa-book-open-reader"></i> Topics
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#questions" role="tab">
          <i class="fa-solid fa-circle-question"></i> Questions
        </a>
      </li>
    </ul>
</div>
<div class="row mt-5 mx-5 shadow bg-white rounded">
  <div class="tab-content text-center">
      <div class="tab-pane active" id="batches" role="tabpanel">
        <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
      </div>
      <div class="tab-pane" id="tests" role="tabpanel">
        <p> I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. </p>
      </div>
      <div class="tab-pane" id="topics" role="tabpanel">
        {% include 'subjects/faculty/topics.html' %}
      </div>
      <div class="tab-pane" id="questions" role="tabpanel">
        <p>
          "I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at."
        </p>
      </div>
    </div>
</div>