{% load widget_tweaks %}
<form class="col-12" id="create-batch-form" action="{% url 'create_batch' %}" method="post">
	{% csrf_token %}
	<div class="mb-3 form-floating">
		{% render_field form.name required="required" class="form-control" placeholder=form.name.label id="inputSubjectName" %}
		<label for="inputSubjectName">Batch Name</label>
	</div>
	<div class="row mb-3">
		<div class="mb-3 col-6">
			<label for="inputOpeningDate">Opening Date</label>
			{% render_field form.opening_date id="inputOpeningDate"%}
		</div>
		<div class="mb-3 col-6">
			<label for="inputClosingDate">Closing Date</label>
			{% render_field form.closing_date id="inputClosingDate"%}
		</div>
		<div class="form-text text-danger dateHelp" style="display: none;">Closing date should be after opening date.</div>
	</div>
	<div class="mb-3 form-floating">
		{% render_field form.exam_category required="required" class="form-select" id="inputExamCategory" %}
		<label for="inputExamCategory" class="form-label">Exam Category</label>
	</div>
	<div class="mb-3">
		<h5 class="mb-4">Students</h5>
		<div class="input-group mb-3">
			<input class="form-control search-students" type="text" placeholder="Search for..." aria-label="Search for..." />
			<button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
		</div>
		{% for chk_box in form.students %}
		<ul class="list-group add-students">
			<li class="list-group-item">
				<div class="form-check">
					{{chk_box}}
				</div>
			</li>
		</ul>
		{% endfor %}
	</div>
	<div class="mt-4 mb-3">
		<div class="d-grid"><input type="submit" class="btn btn-primary btn-block" value="Create Batch"></input></div>
	</div>
</form>