{% load widget_tweaks %}
<form id="edit-batch-form" method="post" action="{% url 'edit_batch' form.instance.id %}">
	{% csrf_token %}
	<div class="modal-header">
		<h5 class="modal-title" id="editModalLabel">Edit Batch</h5>
		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	</div>
	<div class="modal-body">
		<div class="mb-3 form-floating">
			{% render_field form.name required="required" class="form-control" placeholder=form.name.label id="editSubjectName" %}
			<label for="editSubjectName">Batch Name</label>
		</div>
		<div class="row mb-3">
			<div class="mb-3 col-6">
				<label for="editOpeningDate">Opening Date</label>
				{% render_field form.opening_date id="editOpeningDate"%}
			</div>
			<div class="mb-3 col-6">
				<label for="editClosingDate">Closing Date</label>
				{% render_field form.closing_date id="editClosingDate"%}
			</div>
			<div class="form-text text-danger dateHelp" style="display: none;">Closing date should be after opening date.</div>
		</div>
		<div class="mb-3 form-floating">
			{% render_field form.exam_category required="required" class="form-select" id="editExamCategory" %}
			<label for="editExamCategory" class="form-label">Exam Category</label>
		</div>
		<div class="mb-3">
			<label for="editExaminers" class="form-label">Add Students</label>
			<select name="students" id="editExamCategory" class="form-select" required multiple>
				{% for student in students %}
				{% if student.0 in existing_students %}
				<option value="{{student.1}}" selected>{{student.0}}</option>
				{% else %}
				<option value="{{student.1}}">{{student.0}}</option>
				{% endif %}
				{% endfor %}
			</select>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
		<button type="submit" class="btn btn-primary">Save Changes</button>
	</div>
</form>
<script type="text/javascript">
	$(document).ready(function(){
		$('#edit-batch-modal').modal('show');
	});
</script>