{% extends 'components/main.html' %}
{% load custom_filters %}
{% block title %}Test{% endblock %}
{% block content %}

<div class="container p-5">
	<div class="row">
		<div class="col-12">
			<div class="d-flex justify-content-end mb-3">
				<span id="test-timer" class="fs-4">00:00:00</span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-8">
			{% for question in questions %}
			{% get_qn_val request.session questions.number "marked" as is_marked %}
			{% get_qn_val request.session questions.number "option_choosen" as opt %}
			<div class="question-container shadow p-4 pt-5">
				{% if is_marked %}
				<div class="question-marker" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Unmark" data-marked="true" data-question-id="{{ question.id }}" data-question-no="{{ questions.number }}">
					<i class="fa-regular fa-bookmark unmark" style="display: none;"></i>
					<i class="fa-solid fa-bookmark mark"></i>
				</div>
				{% else %}
				<div class="question-marker" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Mark for later" data-marked="false" data-question-id="{{ question.id }}" data-question-no="{{ questions.number }}">
					<i class="fa-regular fa-bookmark unmark"></i>
					<i class="fa-solid fa-bookmark mark" style="display: none;"></i>
				</div>
				{% endif %}
				<span class="fs-5">{{ questions.number }}.  &nbsp;&nbsp;{{ question.question }}</span>
				<ul class="list-group list-group-flush mt-3">
				  <li class="list-group-item">
				    <input class="form-check-input test-option" type="radio" value="{{ question.option1_id }}" name="answer" data-question-id="{{ question.id }}" data-question-no="{{ questions.number }}"{% if opt == question.option1_id %}checked{% endif %}>
				      &nbsp;&nbsp;{{ question.option1 }}
				  </li>
				  <li class="list-group-item">
				    <input class="form-check-input test-option" type="radio" value="{{ question.option2_id }}" name="answer" data-question-id="{{ question.id }}" data-question-no="{{ questions.number }}"{% if opt == question.option2_id %}checked{% endif %}>
				      &nbsp;&nbsp;{{ question.option2 }}
				  </li>
				  <li class="list-group-item">
				    <input class="form-check-input test-option" type="radio" value="{{ question.option3_id }}" name="answer" data-question-id="{{ question.id }}" data-question-no="{{ questions.number }}"{% if opt == question.option3_id %}checked{% endif %}>
				      &nbsp;&nbsp;{{ question.option3 }}
				  </li>
				  <li class="list-group-item">
				    <input class="form-check-input test-option" type="radio" value="{{ question.option4_id }}" name="answer" data-question-id="{{ question.id }}" data-question-no="{{ questions.number }}"{% if opt == question.option4_id %}checked{% endif %}>
				      &nbsp;&nbsp;{{ question.option4 }}
				  </li>
				</ul>
				<div class="mx-5 mt-3 clear-answer" data-question-id="{{ question.id }}" data-question-no="{{ questions.number }}">
					Clear
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="col-4">
			<div class="test-naviagtion-container shadow p-4">
				<h5 class="text-center mb-4">Test Navigation</h5>
				<ul class="pagination d-flex flex-wrap justify-content-center">
					{% for num in questions.paginator.page_range %}
						{% get_qn_val request.session num "marked" as marked %}
						{% get_qn_val request.session num "answered" as answered %}
					    {% if questions.number == num %}
					    <li class="page-item active"><a class="page-link" href="?question={{num}}">{{ num }}</a></li>
					    {% elif marked %}
					    <li class="page-item marked"><a class="page-link" href="?question={{num}}">{{ num }}</a></li>
					    {% elif answered %}
					    <li class="page-item answered"><a class="page-link" href="?question={{num}}">{{ num }}</a></li>
					    {% else %}
					    <li class="page-item"><a class="page-link" href="?question={{num}}">{{ num }}</a></li>
					    {% endif %}
				    {% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="question-controls shadow-sm m-5 p-4 d-flex justify-content-center">
	{% if questions.has_previous %}
	<a class="btn btn-info mx-3" href="?question={{questions.previous_page_number}}">Previous</a>
	{% endif %}
	{% if questions.has_next %}
	<a class="btn btn-success mx-3" href="?question={{questions.next_page_number}}">Next</a>
	{% endif %}
	<button class="btn btn-danger mx-3" id="end-test-btn">End Test</button>
</div>
<!-- End Test Confirmation -->
<div class="modal fade" id="test-submit-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="test-submit-modalLabel2">Submit Test</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">Are you sure you want to submit the test?<span id="test-submit-info" class="d-block"></span></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <form method="post" action="{% url 'submit_test' %}" id="test-submit">
        	{% csrf_token %}
        	<button type="submit" class="btn btn-primary">Confirm</a>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}