{% load widget_tweaks %}
<form class="col-12" id="create-subject-form" action="{% url 'create_subject' %}" method="post">
	{% csrf_token %}
	<div class="mb-3 form-floating">
		{% render_field form.name required="required" class="form-control" placeholder=form.name.label id="inputSubjectName" %}
		<label for="inputSubjectName">Subject Name</label>
	</div>
	<div class="mb-3 form-floating">
		{% render_field form.description class="form-control" placeholder=form.description.label id="inputSubjectDescription" style="height:100px;" %}
		<label for="inputSubjectDescription">Description</label>
	</div>
	<div class="mb-3">
		<h5 class="mb-2">Examiners</h5>
		{% for faculty in faculties %}
		<div class="form-check">
			<input class="form-check-input" type="checkbox" value="{{faculty.2}}" id="inputExaminer{{forloop.counter}}" name="examiners">
			<label class="form-check-label" for="inputExaminer{{forloop.counter}}" data-bs-toggle="tooltip" data-bs-placement="top" title="{{faculty.2}}">
			{{faculty.0}} {{faculty.1}}
			</label>
		</div>
		{% endfor %}
	</div>
	<div class="mb-3">
		<h5 class="mb-2">Staff</h5>
		{% for faculty in faculties %}
		<div class="form-check">
			<input class="form-check-input" type="checkbox" value="{{faculty.2}}" id="inputExaminer{{forloop.counter}}" name="staff">
			<label class="form-check-label" for="inputExaminer{{forloop.counter}}" data-bs-toggle="tooltip" data-bs-placement="top" title="{{faculty.2}}">
			{{faculty.0}} {{faculty.1}}
			</label>
		</div>
		{% endfor %}
	</div>
	<div class="mt-4 mb-3">
		<div class="d-grid"><input type="submit" class="btn btn-primary btn-block" value="Create Subject"></input></div>
	</div>
</form>