<form action="{% url 'create_question' %}" method="post" id="create-question-form">
	{% csrf_token %}
	<div class="form-floating mb-3">
	  <input type="text" class="form-control" id="inputQuestion" name="question" required>
	  <label for="inputQuestion">Question</label>
	</div>
	<div class="form-floating mb-3">
	  <select class="form-select" id="inputTopic" name="topic">
	  	{% for topic in topics %}
	    <option {% if forloop.counter == 1 %}selected{% endif %} value="{{topic}}">{{topic}}</option>
	    {% endfor %}
	  </select>
	  <label for="inputTopic">Topic</label>
	</div>
	<p class="mb-3" style="font-size: 1.15em;">Options</p>
	<div class="option-container mb-3 mx-2">
		<div class="form-check mb-3">
		  <input class="form-check-input" type="radio" name="answer" id="inputAnswer1" required value="1">
		  <label class="form-check-label" for="inputAnswer1">
			  <input type="text" class="form-control" id="inputOption1" name="option1" required>
		  </label>
		</div>
		<div class="form-check mb-3">
		  <input class="form-check-input" type="radio" name="answer" id="inputAnswer2" value="2">
		  <label class="form-check-label" for="inputAnswer2">
			  <input type="text" class="form-control" id="inputOption2" name="option2" required>
		  </label>
		</div>
		<div class="form-check mb-3">
		  <input class="form-check-input" type="radio" name="answer" id="inputAnswer3" value="3">
		  <label class="form-check-label" for="inputAnswer3">
			  <input type="text" class="form-control" id="inputOption3" name="option3" required>
		  </label>
		</div>
		<div class="form-check mb-3">
		  <input class="form-check-input" type="radio" name="answer" id="inputAnswer4" value="4">
		  <label class="form-check-label" for="inputAnswer4">
			  <input type="text" class="form-control" id="inputOption4" name="option4" required>
		  </label>
		</div>
	</div>
	<div class="mt-4 mb-3">
		<div class="d-grid"><input type="submit" class="btn btn-primary btn-block" value="Create Question"></input></div>
	</div>
</form>