{% load widget_tweaks %}
<form id="edit-question-form" method="post" action="{% url 'edit_question' question.id %}">
	{% csrf_token %}
	{{ question_form.media }}
	<p class="mb-3" style="font-size: 1.15em;">Question</p>
	{% render_field question_form.question %}
	<!-- <div class="form-floating mb-3">
	  <input type="text" class="form-control" id="editQuestion" name="edit_question" value="{{question}}" required>
	  <label for="editQuestion">Question</label>
	</div> -->
	<div class="form-floating my-3">
	  <select class="form-select" id="editTopic" name="edit_topic">
	  	{% for topic in topics %}
	    <option {% if question.topic == topic %}selected{% endif %} value="{{topic}}">{{topic}}</option>
	    {% endfor %}
	  </select>
	  <label for="editTopic">Topic</label>
	</div>
	<p class="mb-3" style="font-size: 1.15em;">Options</p>
	<div class="option-container mb-3 mx-2">
		{% for option in question.options.all %}
		<div class="form-check mb-3">
		  <input class="form-check-input" type="radio" name="edit_answer" id="editAnswer{{forloop.counter}}" {% if forloop.counter == 1 %}required{% endif %} value="{{forloop.counter}}" 
		  {% if option == question.answer %}checked{% endif %}>
		  <label class="form-check-label" for="editAnswer{{forloop.counter}}">
			  <input type="text" class="form-control" id="editOption{{forloop.counter}}" name="edit_option{{forloop.counter}}" value="{{option}}" required>
		  </label>
		</div>
		{% endfor %}
	</div>
	<div class="mt-4 mb-3">
		<div class="d-grid"><input type="submit" class="btn btn-primary btn-block" value="Save Changes"></input></div>
	</div>
</form>
<!-- <script type="text/javascript">
	$(document).ready(function(){
		$('#edit-question-modal').modal('show');
	});
</script> -->